* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin-bottom: none;
}

h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
}

body {
  background-color: #F1F1F1;
}

button {
  width: auto;
  border: none;
}

p {
  margin-bottom: 0px;
}

footer {
  background-color: #333333;
}
footer li {
  transition: 0.8s;
}
footer a:hover {
  color: #dba914;
}
footer li:hover {
  transform: translatex(10px);
  color: #dba914;
}

.footer_flex {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  gap: 90px;
}
.footer_flex h4 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.footer_flex img {
  width: 400px;
  height: 50px;
}

.footer_end {
  background-color: #0F6D2D;
}

header .header-first {
  background-color: #088F33;
  padding: 0px;
}
header .header-first .container {
  display: flex;
  justify-content: space-around;
  position: relative;
  align-items: center;
}
header .header-first .container .logo {
  position: absolute;
  top: -10px;
  left: 0px;
  max-width: 160px;
  max-height: 140px;
  z-index: 1;
}
header .header-first .container .logo a img {
  width: 100%;
  height: 100%;
  border: 2px solid #ED7702;
}
header .header-sec {
  background-color: #0B732B;
  height: 50px;
}
header .header-sec .container {
  display: flex;
  justify-content: end;
  align-items: center;
}
header .header-sec .container .header-icon li:hover {
  width: auto;
  background-color: #FFA500;
  padding: 5px 0px;
  align-items: center;
}

.slid_div .slid_div_div .c-item {
  height: 580px;
  position: relative;
}
.slid_div .slid_div_div .c-item .c-img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(0.6);
}
.slid_div .slid_div_div .c-item .slide-text {
  position: absolute;
  bottom: 220px;
  right: 150px;
  display: block;
  text-align: end;
  color: white;
}
.slid_div .slid_div_div .c-item .slide-text h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 25px;
}
.slid_div .slid_div_div .c-item .slide-text p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 20px;
}
.slid_div .slid_div_div .c-item .slide-text .button11 {
  padding: 10px;
  background-color: #ED7701;
  color: white;
  margin-top: 20px;
}
.slid_div .slid_div_div .c-item .slide-text .button11:hover {
  background-color: #0D772F;
}
.slid_div .card-item {
  width: auto;
  height: 55px;
  position: absolute;
  display: flex;
  bottom: 40px;
  right: 340px;
  background-color: #F1F1F1;
}
.slid_div .card-item .form-select {
  border: #000 1px solid;
  border-radius: 0px;
}
.slid_div .card-item .btn_search:hover {
  background-color: #0D772F;
}

.first-sec .head2 {
  width: 440px;
}
.first-sec p {
  text-align: justify;
}
.first-sec .head {
  width: 240px;
}
.first-sec li {
  margin-bottom: 4px;
}
.first-sec li a {
  color: black;
  font-weight: 500;
  transition: 0.7s;
}
.first-sec li a:hover {
  text-decoration: underline;
}

.last-sec .ce-card {
  position: relative;
  overflow: hidden;
  height: 270px;
}
.last-sec .ce-card img {
  width: 100%;
  height: 100%;
  transition: 0.8s;
}
.last-sec .ce-card img:hover {
  transform: scale(1.5);
}
.last-sec .ce-card .tour {
  background-color: #ED7701;
  position: absolute;
  bottom: 20px;
  transition: 0.8s;
}
.last-sec .ce-card .tour:hover {
  background-color: #0B732B;
}

.second-sec .ul-list {
  width: auto;
  justify-content: center;
  margin: 0 auto;
}
.second-sec .ul-list .nav-item .nav1-link {
  background-color: rgb(25, 135, 84);
}
.second-sec .ul-list .nav-item .nav1-link.active {
  background-color: orange !important;
  color: white;
}
.second-sec .ul-list .nav-item .nav1-link:hover {
  background-color: orange !important;
  color: white;
}
.second-sec .carousel-indicators button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #000;
  border: 1px solid #333;
  margin-right: 0.5rem;
}
.second-sec .carousel-indicators button.active {
  background-color: #ED7701;
}
.second-sec .last_slid .inner_slid {
  position: relative;
}
.second-sec .last_slid .inner_slid .cont {
  position: absolute;
  top: 0;
}
.second-sec .trips-card {
  position: relative;
}
.second-sec .trips-card img {
  width: 100%;
  opacity: 1;
  translate: 0.9s;
}
.second-sec .trips-card img:hover {
  opacity: 0.5;
}
.second-sec .trips-card .tour {
  height: auto;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(11, 115, 42, 0.6352941176);
}
.second-sec .trips-card .tour .tour-days {
  background-color: #ED7701;
}

.last .carousel-indicators button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #523737;
  border: 1px solid #121212;
  margin-right: 0.5rem;
}
.last .carousel-indicators button.active {
  background-color: #d69657;
}
.last .last_slid .inner_slid {
  width: 100%;
  height: 400px;
  background-image: url(/images/1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.last .last_slid .inner_slid .cont {
  width: 700px;
  height: auto;
  position: absolute;
  display: block;
  justify-content: center;
  top: 40%;
  left: 10%;
}
.last .accordion .accordion-item {
  width: 488px;
  height: 40px;
}
.last .accordion .accordion-item button {
  background-color: #197938;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}/*# sourceMappingURL=style.css.map */